body{
    background:rgb(49, 1, 49);
}
#container{
    width:400px;
    margin:0 auto;
    margin-top:5%;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

/* Full-width inputs */
input[type=text], input[type=password], input[type=mail]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: #53af57;
    border: 1px solid #53af57;
}

.infosNP{
    display: flex;
}

.Nom, .Prenom{
    max-width: 50%;
}

.password_label {
    position: relative
}

.psw {
    font-size: 1em;
    background:transparent;
    border: 2px solid #7a7a7a;
    border-radius: 5px;
    padding: 1rem 1.2rem;
    transition: all 0.2s;
}

.psw:focus {
    border-color: #ff4754;
}

label .password-icon {
    display: flex;
    align-items: center;
    position: absolute;
    top: 55px;
    transform: translateY(-50%);
    width: 20px;
    color:black;
    transition: all 0.2s;
    right: 10px;
}

label .password-icon .feather-eye-off {
    display: none;
}

label .password-icon:hover {
    cursor: pointer;
    color: #ff4754;
}

.erreurConnexion {
    text-align: center;
    color: red;
    display: none;
}

#inscription{
    text-align: center;
}

.annuler {
    padding-left: 24%;
    padding-right: 24%;
}

.btn-annuler-modif {
    padding-left: 42%;
    padding-right: 42%;
}