.col-sm-3{
    background:rgb(49, 1, 49);
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px 85px / 120px;
}

h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background:rgb(49, 1, 49);
    text-align: center;
}

li.btn{
	display: inline-block;
	list-style-type: none;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: -10px;
}

li.btn a{
	color: white;
	text-decoration: none;
	padding: 10px;
}

li.btn:hover a{
	color: white;
	background-color: white;
	transition: 0.3s all;
}

.product:hover img{
    display:none;
}

.product:hover{
    background:rgb(107, 2, 107);
}

#description{
    display: none;
}

.product:hover #description{
    display:block;
}

.img_Prod{
    max-height: 150px;
}

.btn-primary{
    margin-bottom: 20px;
}

.product:hover p{
    display:none;
}

p {
    color: white;
}

h4 {
    color:white
}

