
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(71, 1, 71);
    text-align: center;
}

body
{
    background-color: white;
}

#contener
{
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.col-sm-3{
    background:rgb(49, 1, 49);
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 10px 60px / 150px;
}


a:link { 
    text-decoration: none; 
}

.qte_span{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
    color: white;
}

.qte_a{
    font-size: 24px;
    color: white;
}

li.btn{
	display: inline-block;
	list-style-type: none;
    padding-top: 15px;
    padding-bottom: 5px;
    margin-left: -10px;
}

li.btn a{
	color: white;
	text-decoration: none;
	padding: 10px;
}

p {
    color: black;
    margin-left: 2%;
}

h4 {
    color:black;
    margin-left: 5%;
    margin-bottom: 5%;

}

#annuler {
    background-color: grey;
    color: white;
    margin-left: 2%;
    text-decoration: none;
    width: 4%;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 1px solid black;
}

#valider {
    background-color: green;
    color: white;
    margin-left: 2%;
}

.img_Prod{
    max-height: 150px;
}

.btn-valider {
    background-color:green;
    margin-left: 2%;
}

.col-sm-3 p {
    color:white;
}

.col-sm-3 h4 {
    color:white;
}

.btn-primary {
    margin-bottom: 2%;
}

.search {
    margin-bottom: -0.2%;
}