
h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(71, 1, 71);
    text-align: center;
}

body
{
    background-color: white;
}

#contener
{
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.element:nth-child(2) /* On prend le deuxième bloc élément */
{
    align-self: flex-end; /* Seul ce bloc sera aligné à la fin */
}

.element1, .element2, .element3
{
    size: 10px;
}

.moitiePage
{
    margin-top: 5px;
    margin-left: 5px;
}

.finPage
{
    margin-top: 20px;
    margin-left: 5px;
}


.desc{
    background-color: white;
    color:black;

}


.container{
    margin-left: 335px;
}

.center{
    margin-right: 200px;
}

.mySlides{
    display: none;
}

.col-sm-3{
    background-color: wheat;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.col-sm-4{
    margin-bottom: 20px;
    margin-left: 20px;
}


.btn-primary{
    margin-bottom: 20px;
}

.div_qte{
   margin-left: 50px;
   font-size: 20px;
}

.btn-qte{
    font-size: 20px;
    padding: 0px 20px;
}

a:link { 
    text-decoration: none; 
}


a:visited { 
    text-decoration: none; 
}


a:hover { 
    text-decoration: none;
}


a:active { 
    text-decoration: none; 
}


#Annuler{
    background-color: gray;
    color : white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

#Annuler:hover{
    background-color: white;
    margin-left: 20px;
    color : gray;
    border: 1px solid gray;
}

#Annuler>a{
    color:white;
}

#Annuler:hover>a{
    color:gray;
    font-weight: 300;
}

.qte_span{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.qte_a{
    font-size: 24px;
}